/* Reset  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body {
    font-family: sans-serif;
}
ul {
    list-style-type: none;
}
/* Utils */
.container {
    width: 90%;
    margin: 0 auto;
}

.flex {
    display: flex;
}
.row {
    margin: 30px auto;
    flex-wrap: wrap;
}
 
.col {
    padding: 10px 0;
    min-width: 200px;
    flex-basis: 100%;
    min-height: 300px;
}

/* Header  */
header {
    background-color: #0084FD;
}
.nav-bar {
    height: 70px;
    color: #fff;
}
.nav-bar-left,
.nav-bar-right {
    flex-basis: 100%;
    border: 1px dashed red;
    justify-content: space-between;
    align-items: center;
}
.nav-bar-right {
    display: none;
}
.nav-bar-right ul {
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

/* Main  */

/* Section Demo  */

.col-wdt70 {
    min-width: calc((100% / 3) * 2);
}
.card {
    min-height: 300px;
    background-color: #B5DDFF;
    border-radius: 20px;
}

/* Section Plan */
.strategic-plan {
    background-color: #9792E4;
}

/* Benefit */
.benefit {
    background-color: #9792E4;
}
.col-wdt-100 {
    min-width: 100%;
}


@media screen and (min-width: 577px) {
    .col {
        padding: 10px;
    }
    .demo-app .col {
        flex-basis: calc(100% / 3);
         
    }
    .benefit .col {
        flex-basis: 50%;
    }
    .row {
        display: flex;
        justify-content: center;
    }
    
    
}


@media screen and (min-width: 850px) {
    .benefit .col {
        flex-basis: calc(100% / 3);
    }
    .nav-bar-left .fa-solid {
        display: none;
    }    
    .nav-bar-left,
    .nav-bar-right {
        flex-basis: 50%;
    }
    .nav-bar-right {
        display: block;
    }
    .strategic-plan .col {
        flex-basis: 50%;
    }

}
@media screen and (min-width: 1090px) {
    .container {
        width: 70%;
    }
    
}
