/* Reset  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body {
    font-family: 'Fredoka', sans-serif;
    position: absolute;
    width: 100%;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
h2 {
    padding: 20px 0;
}
img {
    display: block;
    width: 100%;
}
/* Utils */
.container {
    width: 90%;
    margin: 0 auto;
}

.flex {
    display: flex;
}
.row {
    margin: 30px auto;
    flex-wrap: wrap;
}
 
.col {
    padding: 10px 0;
    min-width: 200px;
    flex-basis: 100%;
    min-height: 300px;
}

.card {
    background-color: #B5DDFF;
    border-radius: 20px;
    padding: 0px 20px;
    text-align: center;
}

.card h2 {
    color: #0084FD;
}

.card p{
    line-height: 22px;
    padding-bottom: 35px;
}

.btn {
    padding: 5px 10px;
    border-radius: 15px;
    background-color: white;
    color: black;
}


/* Header  */
header {
    background-color: #0084FD;
    color: white;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}
header a {
    color: white;
    
}
header .btn a{
    color: black;
}
.nav-bar {
    height: 60px;
    font-size: 13px;
    padding: 0 10px;
}
.nav-bar img {
    height: 35px;
    width: auto;
}
.nav-bar-left,
.nav-bar-right {
    flex-basis: 100%;
    justify-content: space-between;
    align-items: center;
}
.nav-bar-right {
    display: none;
}
.nav-bar-right ul {
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

/* Main  */
section {
    padding: 20px 0;
}

/* Section Demo  */
.demo-app .card {
    height: 100%;
}
.col-wdt70 {
    min-width: calc(100% / 3 * 2);
}
.col-wdt70 a {
    flex-basis: 70%;
    margin: 0 auto;
    color: white;
}

.demo-app .col-wdt70 i {
    font-size: 20px;
    margin: 0;
    margin-right: 10px;
    color: #fff;   
}
.col-wdt70 .card {
    text-align: start;
}
.demo-app i {
    font-size: 60px;
    color: #0084FD;
    margin-top: 35px
}
.col-wdt70 .btn {
    display: block;
    width: 80%;
    text-align: center;
    padding: 10px 0;
    background-color: #0084FD;
}
.col-wdt70 img {
    margin-top: 40px;
}



/* Section Plan */
.strategic-plan {
    background-color: #9792E4;
}
.fa-arrow-down-long {
    height: 50px;
    width: 50px;
    background-color: #9792E4;
    padding: 17px;
    border-radius: 50%;
}
.col-up img {
    margin-bottom: 70px;
}
.strategic-plan .card {
    padding: 20px;
    background-color: #fff;
    height: auto;
    
}
/* Testimonial */
.testimonials {
    padding: 0 20px;
} 
.testimonials .col {
    text-align: center;
}
.testimonials .card {
    padding-top: 20px;
    background-color: #9792E4;
}
.testimonials figure {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-size: cover;
    background-position-x: center;
    margin: 20px auto;
}
#testimonial-1 {
    background-image: url(../img/testimonial1.jpg);
}
#testimonial-2 {
    background-image: url(../img/testimonial2.jpg);
}
#testimonial-3 {
    background-image: url(../img/testimonial3.jpg);
}
/* Benefit */
.benefit {
    background-color: #9792E4;
}
.col-wdt-100 {
    min-width: 100%;
}

/* Get Started */
.get-started{
    background-color: #9792E4;
}
.get-started .col {
    min-height: 50px;
    border: 2px dashed black;
    flex-basis: 70%;
    margin: 0 auto;
}

/* Footer  */
footer {
    background-color: #333;
}
footer .col {
    min-height: 10px;
    border: 2px dashed red;
    flex-basis: 70%;
    margin: 0 auto;
    padding: 0 10px;
}
footer .card {
    min-height: 10px;
}


@media screen and (min-width: 576px) {

    .benefit .col,
    .about-us .col {
        flex-basis: 50%;
    }
    .row {
        display: flex;
        justify-content: center;
    }
    .col {
        padding: 10px;
    }   
    footer .col,
    .get-started .col {
        flex-basis: 70%;
    }
    .demo-app .btn {
        width: 60%;
    }  
    .demo-app figure {
        width: 50%;
    }  
    .testimonials .card-content {
        display: flex;
        align-items: center;
    }
    .testimonials figure {
        width: 100%;
    }


}


@media screen and (min-width: 768px) {
     .demo-app .col {
        flex-basis: calc(100% / 3);
    }
    .benefit .col {
        flex-basis: calc(100% / 3);
    }    
    footer .col,
    .get-started .col {
        flex-basis: 50%;
    } 
    .testimonials figure {
        width: 500px;
    }
   
    


}
@media screen and (min-width: 992px) {
    .nav-bar-left .fa-solid {
        display: none;
    }    
    .nav-bar-left,
    .nav-bar-right {
        flex-basis: 50%;
    }
    .nav-bar-right {
        display: block;
    }
    .col-wdt70 .card{
        display: flex;
    }
    .demo-app .content {
        width: 50%;
    }   
    footer .col,
    .get-started .col{
        flex-basis: 40%;
    } 
    .strategic-plan .col-down {
        padding-top: 250px;
    }
    .strategic-plan .col-down .card {
        scale: 0.8;
        
    }
    .strategic-plan .col {
        flex-basis: 50%;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 70%;
    }
}